.slide {
  border: solid 1px gray;
  

  background-repeat: no-repeat;
  background-position: center;
}



 .slide:hover {
  background-color: gray;
  color: #fff;
  transition: 0.4s ease;
  border: 1px solid gray;
  cursor: pointer;
}

.slide:nth-child(2n) {
  grid-template-areas: 'container viewer';
  background-color: rgb(199, 199, 199);
}

.slide:nth-child(2n):hover {
  background-color: gray;
  color: #fff;
  transition: 0.4s ease;
  border: 1px solid gray;
  cursor: pointer;
}