.slide {
  margin: 0;
  padding: 0;
  min-width: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* grid-template-areas: 'container viewer'; */
}

 .slide:hover {
  background-color: gray;
  color: #fff;
  transition: 0.4s ease;
  cursor: pointer;
}

.slide:nth-child(2n) {
  background-color: rgb(199, 199, 199);
}

.slide:nth-child(2n):hover {
  background-color: gray;
  color: #fff;
  transition: 0.4s ease;
}

/* @media screen and (max-width: 767px) {
  .slide {
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 200px;
  }
} */


