.button_remove {
    width: 100%;
    /* max-width: 100px; */
    height: 30px;
    border: black solid 2px;
    background-image: url(../../../images/delete.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}