.inbox__select {
  font-family: Inter;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 25px;
  width: 100%;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 17px;
}

.inbox__select_invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.inbox__select:focus {
  outline: none;
}

.inbox__select:focus ~ .inbox__bar:before,
.inbox__select:focus ~ .inbox__bar:after {
  width: 50%;
}

.inbox__select:focus:valid ~ .inbox__label, 
.inbox__select:valid ~ .inbox__label {
    top: -15px;
    font-size: 12px;
    color: #5264AE;
}


.inbox__select:focus:invalid ~ .inbox__label_error-empty {
  top: -15px;
  font-size: 12px;
  
}