.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media screen and (min-width: 479px) {
  .box {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* background-color: yellowgreen; */
  }
}

@media screen and (min-width: 767px) {
  .box {
    grid-template-columns: 110px 110px 110px 1fr 1fr 1fr;
    /* background-color: tomato; */
  }
}